@charset "utf-8";

/*
 * File    : rwd-layout.css
 * Author  : HREE
 *
 * SUMMARY :
 * 1480px
 * 1200px
 * 1023px
 * 860px
 * 540px
 */



/* **************************************** *
* 1480px
* **************************************** */
@media (max-width: 1480px){

    html,
    html.safari.desktop { font-size: 0.06756756756756757vw; }

}
 
 
 
/* **************************************** *
* 1200px
* **************************************** */
@media (max-width: 1200px){

    html,
    html.safari.desktop { font-size: 0.0833333333333333vw; }

}
 
 
 
/* **************************************** *
* 1023px
* **************************************** */
@media (max-width: 1023px){

    html,
    html.safari.desktop { font-size: 0.09775171065493645vw; }

}
 
 
 
/* **************************************** *
* 860px
* **************************************** */
@media (max-width: 860px){

    html,
    html.safari.desktop { font-size: 0.13020833333333335vw; }

}
 
 
 
/* **************************************** *
* 540px
* **************************************** */
@media (max-width: 540px){

    html,
    html.safari.desktop { font-size: 0.2564102564102564vw; }

}
