:root {
    /* COLOR */
    --color-white: #FFF;
    --color-black: #000;
    --color-primary: #4d660e;
    --color-secondry: #868686;
    --color-third: #FEDF6A;

    /* FONT */
    --font-primary: 'Pretendard', sans-serif;
    --font-secondary: 'Ownglyph_brilliant-Rg', sans-serif;

    --letter-spacing: 0em;

    --font-size-01: 36rem;
    --font-size-02: 20rem;
    --font-size-03: 18rem;
    --font-size-04: 16rem;
    --font-size-05: 14rem;
}