:root {
    /* COLOR */
    --color-white: #FFF;
    --color-black: #000;
    --color-gray: #afafaf;
    --color-primary: #4d660e;
    --color-secondry: #868686;
    --color-third: #FEDF6A;

    /* FONT */
    --font-primary: 'Pretendard', sans-serif;
    --font-secondary: 'Future_tree', sans-serif;
    --font-third: 'Yoonwoo', sans-serif;
    --font-fourth: 'Georgia', sans-serif;

    --letter-spacing: 0em;

    --font-size-00: 22rem;
    --font-size-01: 20rem;
    --font-size-02: 18rem;
    --font-size-03: 17rem;
    --font-size-04: 16rem;
    
}